/* https://www.magicpattern.design/tools/css-backgrounds */

.pattern-paper {
  background-color: oklch(var(--b1));
  opacity: 1;
  background-image:
    linear-gradient(oklch(var(--b3)) 1px, transparent 1px),
    linear-gradient(90deg, oklch(var(--b3)) 1px, transparent 1px),
    linear-gradient(oklch(var(--b3)) 1px, transparent 1px),
    linear-gradient(90deg, oklch(var(--b3)) 1px, oklch(var(--b1)) 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}